*.log
*.log.gz
*.properties
mc2discord.toml
DiscordIntegration-Data/*
eula.txt
config/Discord-Integration.toml
VXSK2.rar
crash-reports/*
logs/*
config/simple-discord-link/*
sdlinkstorage/*
config/spark/*

libraries/*


bluemap/web/maps/minecraft-client-1.19.0.jar
bluemap/web/maps/tiles/*
bluemap/web/maps/*